In [1]:
# Import libraries
import pandas as pd
import numpy as np

### Load Excel File

In [2]:
filename = 'data/car_financing.xlsx'
df = pd.read_excel(filename)

## Slicing
1. How to select columns in pandas 
2. How to use slicing operations in pandas

In [ ]:
df.head()

### Select columns using brackets
With square brackets, you can select one or more columns.

In [ ]:
# Select one column using double brackets
df[['car_type']].head()

In [ ]:
# Select multiple columns using double brackets
df[['car_type', 'Principal Paid']].head()

In [ ]:
# This is a Pandas DataFrame
type(df[['car_type']].head())

In [ ]:
# Select one column using single brackets
# This produces a pandas series which is a one-dimensional array which can be labeled
df['car_type'].head()

In [ ]:
# This is a pandas series
type(df['car_type'].head())

In [ ]:
# Keep in mind that you can't select multiple colums using single brackets
# This will result in a KeyError
df['car_type', 'Principal Paid']

In [ ]:
df[['car_type', 'Principal Paid']]

### Pandas Slicing

With a pandas series, we can select rows using slicing like this: series[start_index:end_index]

The end_index is not inclusive. This behavior is very similar to Python lists.

In [ ]:
df['car_type']

In [9]:
df['car_type'][0:10]

0    Toyota Sienna
1    Toyota Sienna
2    Toyota Sienna
3    Toyota Sienna
4    Toyota Sienna
5    Toyota Sienna
6    Toyota Sienna
7    Toyota Sienna
8    Toyota Sienna
9    Toyota Sienna
Name: car_type, dtype: object

In [ ]:
# Select column using dot notation. 
# This is not recommended.
df.car_type.head()

In [ ]:
"""
This won't work as there is a space in the column name. 
Dot notation also fails if your column has the same name 
of a DataFrame's attributes or methods.
"""
df.Principal Paid

In [ ]:
df['Principal Paid']

### Selecting Columns using loc
The pandas attribute .loc allow you to select columns, index, and slice your data.

In [5]:
# pandas dataframe
df.loc[:, ['car_type']].head()

          car_type
0    Toyota Sienna
1    Toyota Sienna
2    Toyota Sienna
3    Toyota Sienna
4    Toyota Sienna
..             ...
403      VW Golf R
404      VW Golf R
405      VW Golf R
406      VW Golf R
407      VW Golf R

[408 rows x 1 columns]

In [4]:
# pandas series
df.loc[:, 'car_type'].head()

0      Toyota Sienna
1      Toyota Sienna
2      Toyota Sienna
3      Toyota Sienna
4      Toyota Sienna
           ...
403        VW Golf R
404        VW Golf R
405        VW Golf R
406        VW Golf R
407        VW Golf R
Name: car_type, Length: 408, dtype: object

In [16]:
df.loc[:5, ['car_type']]

        car_type
0  Toyota Sienna
1  Toyota Sienna
2  Toyota Sienna
3  Toyota Sienna
4  Toyota Sienna
5  Toyota Sienna